# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df

In [ ]:
# Changing the columns name to lower case
df.columns = df.columns.str.lower()
df

In [ ]:
#Getting the index of the columns
df.columns

In [ ]:
#Renaming the columns
df = df.rename(columns ={'st':'state','customer lifetime value':'customer_lifetime_value','monthly premium auto':'monthly_premium_auto','number of open complaints':'number_of_open_complaints','policy type':'policy_type','vehicle class':'vehicle_class','total claim amount':'total_claim_amount'})
df

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
# Getting the unique values of 'gender'
df['gender'].unique()

In [ ]:
# Defyining a function to change to get the values consistent with 'F', 'M', or ''(unknown - NAN, other)
def clean(x):
    if x in ['M', 'Male']:
        return 'M'
    elif x in('F','Femal','female'):
        return 'F'
    else:
        return   

# Applying the clean function to the 'gender' column
df['gender'] = df['gender'].map(clean)
# Checking the results
df['gender'].unique()

In [ ]:
# Getting the unique values of 'state'
df['state'].unique()

In [ ]:
#Renaming the state
state_rename = {"AZ": "Arizona","Cali": "California", "WA": "Washington"}
df['state'] = df['state'].replace(state_rename)
# Checking the results
df['state'].unique()

In [ ]:
#Replacing education 'Bachelors'
df['education'] = df['education'].replace('Bachelors','Bachelor')
df['education'].unique()

In [ ]:
#Replacing the character, and affirming that we want to convert to a regular expression value, assuming that is now a float number / 100
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '', regex=True).astype(float) / 100
df

In [ ]:
df['vehicle_class'].unique()

In [ ]:
# Replacing in vehicle class ["Sports Car", "Luxury SUV","Luxury Car"] by "Luxury"
df['vehicle_class'] = df['vehicle_class'].replace(['Sports Car', 'Luxury SUV','Luxury Car'],'Luxury')
# Checking the results
df['vehicle_class'].unique()

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
# As we did the alteration above for float and regular expression, the customer_lifetime_value is no longer an object and is now numeric/float64
df.dtypes

In [ ]:
df['number_of_open_complaints'].unique()

In [ ]:
number_of_open_complaints = ['1/2/00','1/0/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00']
number_of_open_complaints.sort()
number_of_open_complaints

In [ ]:
df.dtypes

In [ ]:
#Renaming the complaints and replacing them
complaints_rename = ({'1/0/00':'0', '1/2/00':'2', '1/1/00':'1', '1/3/00':'3', '1/5/00':'5','1/4/00':'4'})
df['number_of_open_complaints'] = df['number_of_open_complaints'].replace(complaints_rename)
# Checking the results
df['number_of_open_complaints'].unique()
df

In [ ]:
# Converting the categorical for numerical type
df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')
df.dtypes

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using `applymap()`.

In [ ]:
null_counts = df.isnull().sum()
null_counts

In [ ]:
# EXERCISE 5 For this part I have followed Erin's advice and dropped the duplicates first.We can already see a huge difference

# I've choosen to drop duplicates based on Keeping only the last occurrence of each duplicated row.This was the option that for me would make more
# sense for me because is handles with the last version entered
# All the columns had NAN values,what excludes 'Dropping duplicates based on a specific column'
# Dropping all duplicate rows, this will implicate eventually to loose important data for analysis
# Dropping duplicates based on a subset of columns. This could also be an option, and I've also tried it, and checked the shape of both, beeing exctly the same

# subset_columns = df.columns
#df = df.drop_duplicates(subset=subset_columns)

df = df.drop_duplicates(keep='last')
df = df.reset_index(drop=True)
df_new = df
df_new

In [ ]:
# Verifying that my strategy has successfully handled the duplicates
df_new.shape

In [ ]:

# df is now df_new that I have alredy runned at point 5
# Identifying how many null values each column has
null_counts = df_new.isnull().sum()
null_counts

In [ ]:
# Checking to make sure if would use mean or median value to replace values
df_new.describe()

In [ ]:
# We can see that each column had a lot of null values, however , removing the duplicates made a huge differene.
# Drop the rows or columns with null values is not a valid option here.Despite  a few of them have only a null value, 'gender'
# still has a considerable amount of values.
# Fill the null values with the previous or next value in the column. If we have the previous or the next rows with 
# also NaN values will not sort the problem, at least for 'gender' and possibly for 'customer_lifetime_value'.
# Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet). Maybe I'll try in a few weeks ;)
#Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)

# Fill the null values with the median value. I chose the median, because I can see that the maximum value really differs from the other, what can implicate the liability of the mean, becoming the median will be more reasonable 
#for this situations

numerical_columns = df_new.select_dtypes(include=['int', 'float']).columns
categorical_columns = df_new.select_dtypes(exclude=['int', 'float']).columns

# Fill null values in numerical columns with the median
for col in numerical_columns:
    median_value = df_new[col].median()
    df_new[col].fillna(median_value, inplace=True)

# Fill null values in categorical columns with the mode
for col in categorical_columns:
    mode_value = df_new[col].mode()[0]
    df_new[col].fillna(mode_value, inplace=True)
df_new

In [ ]:
#Checking the results wich shows no left null values!
null_counts = df_new.isnull().sum()
null_counts

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
#Step already done on Step 4

In [ ]:
# Lab | Customer Analysis Round 3
#EDA (Exploratory Data Analysis) - Complete the following tasks to explore the data:

In [ ]:
# Show DataFrame info.
df_new.info

In [ ]:
# Describe DataFrame.
df_new.describe().T

In [ ]:
# Show a plot of the Gender breakdown.
#importing the necessary library
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

gender_counts = df_new['gender'].value_counts()
gender_counts

In [ ]:
# Show a plot of the Gender breakdown.
#Representative barplot
plt.bar(gender_counts.keys(), gender_counts.values)
# Label the axes and title
plt.xlabel('Gender')
plt.ylabel('Count')
plt.title('Gender Breakdown')
plt.show()

In [ ]:
# Show a plot of Income by State.
sns.barplot(x="state", y="income", data=df_new)
plt.show()

In [ ]:
# Show a plot of the Policy Type by the Total Claim Amount.
plt.figure(figsize=(10, 6))
sns.boxplot(data=df_new, x="policy_type", y="total_claim_amount")
plt.title('Total Claim Amount by Policy Type')
plt.xlabel('Policy Type')
plt.ylabel('Total Claim Amount')
plt.show()

In [ ]:
# Show a plot of the Education by Vehicle Class.
plt.figure(figsize=(10, 6))
sns.countplot(data=df_new, x="education", hue="vehicle_class")
plt.title('Distribution of Education and Vehicle Class')
plt.xlabel('Education')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# What insights can you establish from these plots?
"""From the first plot 'gender breakdown' we can observe that the are almost 200 more female costumers than male costumers.
   
   From the plot 'Income by State', we can see that costumers from Washington have the highest income, more than 50k, followed by
   Oregon 39k, California and Arizona both with around 38k and with the lowest income per costumer comes Nevada with around 36k.
   
   From the plot 'Policy Type by the Total Claim Amount'we can observe that Special Auto has the lowest value for Total claim amount, followed by Corporate Auto and final by Personal Auto that show to have
   the highest value of Total Claim Amount.
   
   From the plot 'Education by Vehicle Class' we can observe that the majority of the costumers in each education level, has a four-door car.
   Costumers with bachelor lever have the highest counting for four-door cars.
   In the Bachelor and High-school level, the distribution is quite similar, four-door car and then, two door car, SUV and finally luxury
   For college and Doctor level, the second highest vehicle class is SUV, follewd by two door car and at last the Luxury car
   For the Master level, after the four door car, the two door car and suv as the second option and for last the Luxury car.
   From the costumers, the majority doesn't have a policy for luxury car, perhaps due to their hihg price value.
   The 'high-school or below' level have the highst amount of luxury cars counted."""

In [ ]:
# What other plots do you feel would be beneficial?
"""I would say 'monthly_premium_auto' and 'vehicle_class' and then 'education and income', to confirm that if the premium for vehicle-class is definitely the most
expensive and also to check why the 'high-school or below' level have the highst amount of luxury cars counted."""

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here